[submodule "externals/nanoAOD-tools"]
	path = externals/nanoAOD-tools
	url = git@github.com:cms-nanoAOD/nanoAOD-tools.git
[submodule "externals/alphatwirl"]
	path = externals/alphatwirl
	url = git@github.com:alphatwirl/alphatwirl.git
[submodule "externals/alphatwirl-interface"]
	path = externals/alphatwirl-interface
	url = git@github.com:alphatwirl/alphatwirl-interface.git
